<div class="ct_upload_text">
    <!-- <img [src]="avatar_url_fb ? avatar_url_fb : 'assets/img/np_pro.png'" alt="" class="ct_img_44 ct_orange_border_1"> -->

    <div class="form-group w-100">
        <input type="text" class="form-control ct_custom_input w-100" placeholder="Search..." [(ngModel)]="searchQuery">
    </div>
</div>

<div class="d-flex align-items-center justify-content-between ct_pt_20">
    <h4 class="mb-0 ct_fw_600 ct_fs_20 text-white ct_ff_roboto">All Subscriptions</h4>
</div>
<div class="ct_dash_inner_scroll">
    <div class="d-flex align-items-center justify-content-between mt-3">
        <div class="ct_subscription_tab">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home"
                        aria-selected="true">User</button>
                </li>
                <li class="nav-item" role="presentation" (click)="getCoaches()">
                    <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile"
                        aria-selected="false">Coach</button>
                </li>

            </ul>
        </div>
    </div>

    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
            <div class="table-responsive">

                <table class="table ct_subcription_table">
                    <thead>
                        <tr>
                            <th>S No.</th>
                            <th style="width: 44px;"></th>
                            <th>Name</th>
                            <th>Price (USD)</th>
                            <th>Started from </th>
                            <th>Expire on</th>
                            <th class="text-end">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="7">
                                <div *ngIf="(!paidUsers || (paidUsers | chatFilter:searchQuery)?.length == 0)"
                                    class="text-center mt-4">
                                    <p class="ct_fs_15 text-white text-center">No users found</p>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <tbody *ngFor="let user of paidUsers | chatFilter:searchQuery; let i = index">

                        <tr>
                            <td>{{i+1}}</td>
                            <td><img [src]="user.user.avatar_url ? user.user.avatar_url : '/assets/img/np_pro.png'"
                                    alt="" class="ct_img_44"></td>
                            <td>{{user.user.full_name}}</td>
                            <td>{{user.plan.price}}</td>
                            <td>{{user.created_at | date:'dd-MMM-yyyy'}}</td>
                            <td>{{user.expired_at | date:'dd-MMM-yyyy'}}</td>
                            <td class="text-end" *ngIf="user.status=='Active'"><span class="ct_green_text">Active</span>
                            </td>
                            <td class="text-end" *ngIf="user.status!='Active'"><span class="ct_red_text">Expired</span>
                            </td>
                        </tr>

                    </tbody>
                </table>

            </div>
        </div>
        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
            <div class="table-responsive">

                <table class="table ct_subcription_table">
                    <thead>
                        <tr>
                            <th>S No.</th>
                            <th style="width: 44px;"></th>
                            <th>Name</th>
                            <th>Price (USD)</th>
                            <th>Started from </th>
                            <th>Expire on</th>
                            <th class="text-end">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="7">
                                <div *ngIf="(!paidCoaches || (paidCoaches | chatFilter2:searchQuery)?.length === 0)"
                                    class="text-center mt-4">
                                    <p class="ct_fs_15 text-white text-center">No coaches found</p>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <tbody *ngFor="let coach of paidCoaches | chatFilter2:searchQuery; let i = index">
                        <tr>
                            <td>{{i+1}}</td>
                            <td><img [src]="coach.coach.avatar_url ? coach.coach.avatar_url : '/assets/img/np_pro.png'"
                                    alt="" class="ct_img_44"></td>
                            <td>{{coach.coach.full_name}}</td>
                            <td>{{coach.plan.price}}</td>
                            <td>{{coach.created_at | date:'dd-MMM-yyyy'}}</td>
                            <td>{{coach.expired_at | date:'dd-MMM-yyyy'}}</td>
                            <td class="text-end" *ngIf="coach.status=='Active'"><span
                                    class="ct_green_text">Active</span>
                            </td>
                            <td class="text-end" *ngIf="coach.status!='Active'"><span class="ct_red_text">Expired</span>
                            </td>
                        </tr>

                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>