<div class="ct_chat_box_main">
    <div class="ct_left_message_list ct_community_left_width">
        <div class="ct_notification_search_input">
            <input type="text" class="form-control ct_login_input" placeholder="Search" [(ngModel)]="searchQueryFilter">
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <div class="d-flex align-items-center justify-content-between ct_pt_20">
            <h4 class="mb-0 ct_fw_600 ct_fs_20 text-white ct_ff_roboto">All Communities</h4>
           
        </div>

        <ul class="ct_message_user_lit ct_message_community_scroll ct_community_sidebar mt-3" (click)="openChat()">
            <div *ngIf="(!communityData || (communityData | filter:searchQueryFilter)?.length === 0)"
                class="text-center mt-4">
                <p class="ct_fs_15 text-white">No community found</p>
            </div>
            <!-- add This Class active when chat open  -->
            <li class="mt-3" *ngFor="let data of communityData | filter:searchQueryFilter"
                [class.active]="data.id === selectedCommunityId" data-bs-toggle="modal"
                data-bs-target="#ct_view_community">

                <div class="d-flex align-items-center gap-2">
                    <div class="d-flex align-items-center"
                        (click)="getCommunityProfileData(data.id, data.isParticipant, data.isAdmin)"
                        style="cursor: pointer;">
                        <img [src]="data.mediaUrl ? data.mediaUrl : '/assets/img/np_pro.png'" alt=""
                            class="ct_img_62 ct_border_radius_100">
                    </div>
                    <div class="d-flex align-items-center justify-content-between" style="flex: 1;">
                        <div (click)="getCommunityProfileData(data.id, data.isParticipant, data.isAdmin)"
                            style="cursor: pointer; flex: 1;">
                            <h5 class="mb-0 ct_fs_15 ct_orange_text ct_ff_roboto ct_fw_500 mb-2">{{data.title}}</h5>
                            <p *ngIf="data.numberOfPosts > 0" class="mb-0 ct_fs_12 ct_ff_roboto ct_fw_500 text-white">
                                {{data.numberOfPosts}}
                                {{data.numberOfPosts > 1 ? 'Posts' : 'Post'}}</p>
                        </div>
                       
                    </div>
                </div>
            </li>

        </ul>
    </div>

    <div class="ct_right_message_area ct_community_scroll1234" [ngClass]="{ 'active': isChatActive }" *ngIf="communityName">
        <div
            class="ct_octen_team_box ct_flex_wrap_res_123 ct_mt_30 px-3 ct_message_head_bg ct_flex_wrap_res_123 justify-content-between">
            <div class="d-flex align-items-center gap-2 ">
                <a href="javascript:void(0)" class="ct_orange_text ct_back_to_list ct_chat_back"
                    (click)="closeChat()"><i class="fa-solid fa-arrow-left-long"></i></a>
                <div class="d-flex align-items-center gap-2">
                    <div class="d-flex align-items-center">
                        <img [src]="communityImg ? communityImg : '/assets/img/np_pro.png'" alt=""
                            class="ct_img_44 ct_border_radius_100">
                    </div>

                    <div>
                        <h5 class="mb-0 ct_fs_15 ct_ff_roboto ct_fw_500 mb-2 ct_orange_text">{{communityName}}</h5>
                        <p class="mb-0 ct_fs_12 ct_ff_roboto ct_fw_500 text-white"> {{numberOfPosts}} {{numberOfPosts >
                            1 ? 'Posts' : 'Post'}} <span> -
                                {{numberOfParticipant}} {{numberOfParticipant > 1 ? 'Members' : 'Member'}}</span>
                        </p>
                    </div>

                </div>
            </div>

            <div class=" ct_ms_0_res_123 d-flex align-items-center gap-3 " style="cursor: pointer;">
                @if(toSee){
                <p class="mb-0 ct_fs_12 ct_ff_roboto ct_fw_500 ct_orange_text ct_ms_75_767" (click)="seeGroupMembesr()">See All
                    Members</p>
                } @else {
                <p class="mb-0 ct_fs_12 ct_ff_roboto ct_fw_500 ct_orange_text" (click)="seeGroupMembesr()">Back</p>
                }

                <!-- <i *ngIf="isAdmin" class="fa-regular fa-pen-to-square text-white" aria-hidden="true"
                    data-bs-toggle="modal" data-bs-target="#ct_edit_community"></i> -->

                <div *ngIf="isAdmin" class="dropdown ms-auto ct_chat_dropdown">
                    <button class="btn ct_dropdown_btn" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <i class="fa-solid fa-ellipsis-vertical ct_orange_text"></i>
                    </button>
                 
                </div>


            </div>

        </div>

        <div class="position-relative mt-3">
            @if(toSee){
         

            <div class="ct_all_feed_boxex">

                <div *ngIf="communityFeeds?.length === 0" class="text-center">
                    <p class="ct_fs_15 text-white mt-5">No posts found</p>
                </div>

                <div *ngFor="let feed of communityFeeds; let i = index">


                    <div class="ct_feed_box mt-3" *ngIf="feed.type == 'PODCAST'">

                        <div class="d-flex align-items-center justify-content-between">
                            <div class="d-flex align-items-center gap-2">
                                <img [src]="feed.coach.avatar_url ? feed.coach.avatar_url : '/assets/img/np_pro.png'"
                                    alt="" class="ct_img_44 ct_bor ct_white_border_1">
                                <div>
                                    <h5 class="ct_fs_15 text-white ct_fw_600 mb-0">{{feed.coach.full_name}}</h5>

                                    <div class="d-flex align-items-center gap-2 ct_flex_wrap_575 ct_align_items_start_575 mt-2">
                                        <p class="mb-0  ct_fs_12 text-white ct_text_op_5">{{feed.createdAt |
                                            date:'d/M/yy, h:mm a'}}
                                        </p>
                                        <div class="d-flex align-items-center justify-content-center gap-2">
                                            <img src="../assets/img/star.png" alt="star">
                                            <span class="ct_orange_text">{{feed.category.name}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        

                        </div>


                        <p class="ct_fs_13 mb-0 text-white ct_ff_roboto ct_line_height_22 mt-3">
                            <span>
                                {{ feed.isExpanded ? feed.text : (feed.text?.length > shortTextLength ?
                                (feed.text.substring(0, shortTextLength) + '...') : feed.text) }}
                            </span>
                            <a class="ct_orange_text" (click)="toggleContent(i)" href="javascript:void(0);"
                                *ngIf="shouldShowReadMore(feed.text)">
                                {{ feed.isExpanded ? 'Read less' : 'Read more' }}
                            </a>
                        </p>

                        <div class="ct_show_uploaded_audio_box ct_show_uploaded_audio_box_bg mt-3 ct_light_grey_bg"
                        [ngStyle]="{'background-image': 'url(' + (feed?.thumbnailUrl ? feed.thumbnailUrl : 'assets/img/audio_bg_img_2434.jpg') + ')' }">


                        <div class="ct_audio_play_icon" (click)="togglePlayPause(i)">
                            <i *ngIf="!isPlayingA[i]" class="bi bi-play-fill" style="cursor: pointer;"></i>
                            <i *ngIf="isPlayingA[i]" class="bi bi-pause-fill" style="cursor: pointer;"></i>
                        </div>

                        <p style="color: orange;">{{ formatTime(currentTimeA[i]) }} / {{ formatTime(totalDurationA[i]) }}
                        </p>

                        <div class="waveform" (click)="wave[i].playPause()" [id]="'waveform' + feed.id"
                            style="margin-top: 20px; cursor: pointer;">
                        </div>
                            <!-- <div class="d-flex align-items-center gap-3">
                                <audio *ngIf="feed.mediaUrl" controls class="custom-audio-player">
                                    <source [src]="feed.mediaUrl" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio>
                            </div> -->

                        </div>

                      

                    </div>


                    <div class="ct_feed_box mt-3" *ngIf="feed.type == 'ARTICLE'">

                        <div class="d-flex align-items-center justify-content-between">

                            <div class="d-flex align-items-center gap-2">
                                <img [src]="feed.coach.avatar_url ? feed.coach.avatar_url : '/assets/img/np_pro.png'"
                                    alt="" class="ct_img_44 ct_bor ct_white_border_1">
                                <div>
                                    <h5 class="ct_fs_15 text-white ct_fw_600 mb-0">{{feed.coach.full_name}}</h5>
                                    <div class="d-flex align-items-center gap-2 ct_flex_wrap_575 ct_align_items_start_575 mt-2">
                                        <p class="mb-0  ct_fs_12 text-white ct_text_op_5">{{feed.createdAt |
                                            date:'d/M/yy, h:mm a'}}</p>
                                        <div class="d-flex align-items-center justify-content-center gap-2">
                                            <img src="../assets/img/star.png" alt="star">
                                            <span class="ct_orange_text">{{feed.category.name}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                       

                        </div>


                        <p class="ct_fs_13 mb-0 text-white ct_ff_roboto ct_line_height_22 mt-3">
                            <span>
                                {{ feed.isExpanded ? feed.text : (feed.text?.length > shortTextLength ?
                                (feed.text.substring(0, shortTextLength) + '...') : feed.text) }}
                            </span>
                            <a class="ct_orange_text" (click)="toggleContent(i)" href="javascript:void(0);"
                                *ngIf="shouldShowReadMore(feed.text)">
                                {{ feed.isExpanded ? 'Read less' : 'Read more' }}
                            </a>
                        </p>

                  

                    </div>


                    <div class="ct_feed_box mt-3" *ngIf="feed.type == 'VIDEO'">
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="d-flex align-items-center gap-2">
                                <img [src]="feed.coach.avatar_url ? feed.coach.avatar_url : '/assets/img/np_pro.png'"
                                    alt="" class="ct_img_44 ct_bor ct_white_border_1">
                                <div>
                                    <h5 class="ct_fs_15 text-white ct_fw_600 mb-0">{{feed.coach.full_name}}</h5>
                                    <div class="d-flex align-items-center gap-2 ct_flex_wrap_575 ct_align_items_start_575 mt-2">
                                        <p class="mb-0  ct_fs_12 text-white ct_text_op_5">{{feed.createdAt |
                                            date:'d/M/yy, h:mm a'}}</p>
                                        <div class="d-flex align-items-center justify-content-center gap-2">
                                            <img src="../assets/img/star.png" alt="star">
                                            <span class="ct_orange_text">{{feed.category.name}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                       

                        </div>

                        <p class="ct_fs_13 mb-0 text-white ct_ff_roboto ct_line_height_22 mt-3">
                            <span>
                                {{ feed.isExpanded ? feed.text : (feed.text?.length > shortTextLength ?
                                (feed.text.substring(0, shortTextLength) + '...') : feed.text) }}
                            </span>
                            <a class="ct_orange_text" (click)="toggleContent(i)" href="javascript:void(0);"
                                *ngIf="shouldShowReadMore(feed.text)">
                                {{ feed.isExpanded ? 'Read less' : 'Read more' }}
                            </a>
                        </p>

                        <div class="ct_show_uploaded_video mt-2" style="position: relative;">

                            <div class="play-button" *ngIf="!isVideoPlaying(videoPlayer)"
                                (click)="toggleVideo(videoPlayer)">
                                <img src="../assets/img/play.png" alt="Play Button" />
                            </div>

                            <video [src]="feed.mediaUrl" #videoPlayer (timeupdate)="onTimeUpdate(videoPlayer)"
                                (loadedmetadata)="setVideoDuration(videoPlayer)" width="100%" height="390"
                                (click)="toggleVideo(videoPlayer)">
                            </video>

                            <input type="range" *ngIf="currentVideoId === videoPlayer" class="custom-seekbar"
                                (input)="onSeek($event, videoPlayer)" />

                            <div *ngIf="currentVideoId === videoPlayer" class="video-timing text-white pb-4">
                                {{ formatTime(currentTime) }} / {{ formatTime(videoDuration) }}
                            </div>
                        </div>


                     

                    </div>

                </div>

            </div>
            } @else {
            <div class="ct_all_team_member_list ">
                <ul class="ct_message_user_lit mt-3 " (click)="openChat()" style="max-height: calc(100vh - 248px);">

                    <li>
                        <div class="ct_all_team_member_list">
                            <div class="d-flex align-items-center gap-3">

                                <div class="d-flex align-items-center gap-2" style="cursor: pointer;"
                                    (click)="getCoachId(communityAdminid, communityAdminRole)">
                                    <img [src]="communityAdminImg ? communityAdminImg : '/assets/img/np_pro.png'" alt=""
                                        class="ct_img_40 ct_orange_border_1">
                                    <p class="mb-0 ct_fs_15 text-white ct_ff_roboto ct_fw_500">
                                        {{communityAdminName}}</p>
                                </div>
                                <p class="mb-0 ct_fs_15 text-white ms-auto ct_ff_roboto ct_admin_badge ">
                                    Owner</p>
                            </div>
                        </div>
                    </li>

                    <!-- add This Class active when chat open  -->
                    <li class="" *ngFor="let participants of communityParticipants;">

                        <div class="ct_all_team_member_list">

                            <div class="d-flex align-items-center gap-3">
                                @if(participants.coach?.full_name){
                                <div class="d-flex align-items-center gap-2"
                                    (click)="getCoachId(participants.coach.id, participants.coach.role)"
                                    style="cursor: pointer;">


                                    <img [src]="participants.coach?.avatar_url ? participants.coach?.avatar_url : '/assets/img/np_pro.png'"
                                        alt="" class="ct_img_40 ct_orange_border_1">


                                    <p class="mb-0 ct_fs_15 text-white ct_ff_roboto ct_fw_500">
                                        {{participants.coach?.full_name}}</p>
                                </div>
                                } @else {
                                <div class="d-flex align-items-center gap-2"
                                    (click)="getCoachId(participants.user.id, participants.user.role)"
                                    style="cursor: pointer;">


                                    <img [src]="participants.user?.avatar_url ? participants.user?.avatar_url : '/assets/img/np_pro.png'"
                                        alt="" class="ct_img_40 ct_orange_border_1">


                                    <p class="mb-0 ct_fs_15 text-white ct_ff_roboto ct_fw_500">
                                        {{
                                        participants.user?.full_name}}</p>
                                </div>
                                }

                           
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            }
        </div>
    </div>
</div>




<!-- <div *ngIf="loading" class="ct_loader_main">
    <div class="loader"></div>
</div> -->