<a (click)="backClicked()" *ngIf="userId" class="ct_orange_text ct_back_to_list ct_chat_back mb-4 d-block ct_fw_600"
    style="cursor: pointer;"><i class="fa-solid fa-arrow-left me-2"></i> Back</a>

<div class="ct_cover_img">
    <img [src]="cover_photo_url ? cover_photo_url : '/assets/img/no_event.png'" alt="" class="ct_img_h_200">
</div>
<div class="ct_my_profile_main">
    <img [src]="avatar_url ? avatar_url : '/assets/img/np_pro.png'" alt="" class="ct_img_100">
    <div class="d-flex align-items-center justify-content-between flex-wrap gap-2 ct_mt_30 pt-1">
        <div>
            <h4 class="ct_ff_roboto ct_fw_600 text-white ct_fs_24 mb-0">{{name}}</h4>
            @if(category){
            <div class="d-flex align-items-center gap-2">
                <img src="../assets/img/star.png" alt="star">
                <span class="ct_orange_text">{{category}}</span>
            </div>
            }

        </div>
        <div *ngIf="!userId">
            <a routerLink="/user/main/edit-profile" class="ct_orange_btn ct_grey_btn ct_border_radius_10">Edit
                Profile</a>
        </div>
    </div>
</div>
<hr class="ct_hr_line_op_5 mt-4">
<div class="mt-4">
    <h4 class="ct_ff_roboto text-white ct_fs_18 ct_fw_600">About Me</h4>
    <p class="mb-0 text-white ct_fs_14 ct_ff_roboto ct_fw_400 ct_line_height_22">{{userEmail}}</p>
    <div class="ct_grid_4">

        @if(education != ''){
        <div>
            <h4 class="ct_ff_roboto ct_orange_text ct_fs_18 ct_fw_600 mt-3">Education</h4>
            <p class="mb-0 text-white ct_fs_14 ct_ff_roboto ct_fw_400 ct_line_height_22">{{ education ? education : 'Not
                found'
                }}</p>
        </div>
        }

        @if(userRole === 'COACH'){
        @if(experience != ''){
        <div>
            <h4 class="ct_ff_roboto ct_orange_text ct_fs_18 ct_fw_600 mt-3">Experience</h4>
            <p class="mb-0 text-white ct_fs_14 ct_ff_roboto ct_fw_400 ct_line_height_22">{{ experience}} {{experience >
                1 ? 'Years' : 'Year'}}</p>
        </div>
        }

        <!-- <div *ngIf="isCoach && userRole=='COACH'"> -->
        <!-- <h4 class="ct_ff_roboto text-white ct_fs_18 ct_fw_600 mt-3">Accomplishments</h4>
            <p class="mb-0 text-white ct_fs_14 ct_ff_roboto ct_fw_400 ct_line_height_22">{{accomplishments}}</p> -->
        @if(accomplishments != ''){
        <div>
            <h4 class="ct_ff_roboto ct_orange_text ct_fs_18 ct_fw_600 mt-3">Accomplishments</h4>
            <ng-container *ngIf="accomplishments; else noAccomplishments">
                <ul
                    class="custom-list mb-0 text-white ct_fs_14 ct_ff_roboto ct_fw_400 ct_line_height_22 ct_list_style_unset">
                    <li *ngFor="let accomplishment of accomplishments">{{ accomplishment }}</li>
                </ul>
            </ng-container>

            <ng-template #noAccomplishments>
                <p class="mb-0 text-white ct_fs_14 ct_ff_roboto ct_fw_400 ct_line_height_22">Not found</p>
            </ng-template>
        </div>
        }



        @if(certificates != ''){
        <div>
            <h4 class="ct_ff_roboto ct_orange_text ct_fs_18 ct_fw_600 mt-3">Certificates</h4>
            <ng-container *ngIf="certificates; else nocertificate">
                <ul
                    class="custom-list mb-0 text-white ct_fs_14 ct_ff_roboto ct_fw_400 ct_line_height_22 ct_list_style_unset">
                    <li *ngFor="let certificate of certificates">{{ certificate }}</li>
                </ul>
            </ng-container>
            <ng-template #nocertificate>
                <p class="mb-0 text-white ct_fs_14 ct_ff_roboto ct_fw_400 ct_line_height_22">Not found</p>
            </ng-template>
        </div>
        }
        @if(selectedCategoryNames && selectedCategoryNames.length > 0){
        <div>
            <h4 class="ct_ff_roboto ct_orange_text ct_fs_18 ct_fw_600 mt-3">Other Categories</h4>
            <ng-container *ngIf="selectedCategoryNames && selectedCategoryNames.length > 0; else noSelectedCategory">
                <ul
                    class="custom-list mb-0 text-white ct_fs_14 ct_ff_roboto ct_fw_400 ct_line_height_22 ct_list_style_unset">
                    <li *ngFor="let selectedCategoryName of selectedCategoryNames">{{ selectedCategoryName }}</li>
                </ul>
            </ng-container>

            <ng-template #noSelectedCategory>
                <p class="mb-0 text-white ct_fs_14 ct_ff_roboto ct_fw_400 ct_line_height_22">Not found</p>
            </ng-template>
        </div>
        }
        }

    </div>
</div>


@if(userRole == 'COACH'){
<!-- when coach is login then  ct_all_feed_boxex will hide  -->
<div class="" [class.ct_all_feed_boxex]="userRole == 'COACH'">

    <div *ngFor="let feed of postData; let i = index">

        <div class="ct_feed_box mt-3" *ngIf="feed.type == 'PODCAST'">
            <div class="d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center gap-2">
                    <img [src]="avatar_url ? avatar_url : '/assets/img/np_pro.png'" alt=""
                        class="ct_img_44 ct_bor ct_white_border_1">
                    <div>
                        <h5 class="ct_fs_15 text-white ct_fw_600 mb-0">{{name}}</h5>

                        <div class="d-flex align-items-center gap-2 ct_flex_wrap_575 ct_align_items_start_575 mt-2">
                            <p class="mb-0  ct_fs_12 text-white ct_text_op_5 ">{{feed.createdAt |
                                date:'d/M/yy, h:mm a'}}
                            </p>
                            <div class="d-flex align-items-center justify-content-center gap-2">
                                <img src="../assets/img/star.png" alt="star">
                                <span class="ct_orange_text">{{category}}</span>
                            </div>
                        </div>
                    </div>
                </div>


            </div>


            <p class="ct_fs_13 mb-0 text-white ct_ff_roboto ct_line_height_22 mt-3">
                <span>
                    {{ feed.isExpanded ? feed.text : (feed.text?.length > shortTextLength ?
                    (feed.text.substring(0, shortTextLength) + '...') : feed.text) }}
                </span>
                <a class="ct_orange_text" (click)="toggleContent(i)" href="javascript:void(0);"
                    *ngIf="shouldShowReadMore(feed.text)">
                    {{ feed.isExpanded ? 'Read less' : 'Read more' }}
                </a>
            </p>

            <div class="ct_show_uploaded_audio_box mt-3 ct_light_grey_bg">
                <div class="d-flex align-items-center gap-3">
                    <audio *ngIf="feed.mediaUrl" controls class="custom-audio-player">
                        <source [src]="feed.mediaUrl" type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>
                </div>
            </div>


        </div>


        <div class="ct_feed_box mt-3" *ngIf="feed.type == 'ARTICLE'">
            <div class="d-flex align-items-center justify-content-between">

                <div class="d-flex align-items-center gap-2">
                    <img [src]="avatar_url ? avatar_url : '/assets/img/np_pro.png'" alt=""
                        class="ct_img_44 ct_bor ct_white_border_1">
                    <div>
                        <h5 class="ct_fs_15 text-white ct_fw_600 mb-0">{{name}}</h5>
                        <div class="d-flex align-items-center gap-2 ct_flex_wrap_575 ct_align_items_start_575 mt-2">
                            <p class="mb-0  ct_fs_12 text-white ct_text_op_5">{{feed.createdAt |
                                date:'d/M/yy, h:mm a'}}</p>
                            <div class="d-flex align-items-center justify-content-center gap-2">
                                <img src="../assets/img/star.png" alt="star">
                                <span class="ct_orange_text">{{category}}</span>
                            </div>
                        </div>
                    </div>
                </div>


            </div>


            <p class="ct_fs_13 mb-0 text-white ct_ff_roboto ct_line_height_22 mt-3">
                <span>
                    {{ feed.isExpanded ? feed.text : (feed.text?.length > shortTextLength ?
                    (feed.text.substring(0, shortTextLength) + '...') : feed.text) }}
                </span>
                <a class="ct_orange_text" (click)="toggleContent(i)" href="javascript:void(0);"
                    *ngIf="shouldShowReadMore(feed.text)">
                    {{ feed.isExpanded ? 'Read less' : 'Read more' }}
                </a>
            </p>


        </div>


        <div class="ct_feed_box mt-3" *ngIf="feed.type == 'VIDEO'">
            <div class="d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center gap-2">
                    <img [src]="avatar_url ? avatar_url : '/assets/img/np_pro.png'" alt=""
                        class="ct_img_44 ct_bor ct_white_border_1">
                    <div>
                        <h5 class="ct_fs_15 text-white ct_fw_600 mb-0">{{name}}</h5>
                        <div class="d-flex align-items-center gap-2 ct_flex_wrap_575 ct_align_items_start_575 mt-2">
                            <p class="mb-0  ct_fs_12 text-white ct_text_op_5">{{feed.createdAt |
                                date:'d/M/yy, h:mm a'}}</p>
                            <div class="d-flex align-items-center justify-content-center gap-2">
                                <img src="../assets/img/star.png" alt="star">
                                <span class="ct_orange_text">{{category}}</span>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

            <p class="ct_fs_13 mb-0 text-white ct_ff_roboto ct_line_height_22 mt-3">
                <span>
                    {{ feed.isExpanded ? feed.text : (feed.text?.length > shortTextLength ?
                    (feed.text.substring(0, shortTextLength) + '...') : feed.text) }}
                </span>
                <a class="ct_orange_text" (click)="toggleContent(i)" href="javascript:void(0);"
                    *ngIf="shouldShowReadMore(feed.text)">
                    {{ feed.isExpanded ? 'Read less' : 'Read more' }}
                </a>
            </p>

            <div class="ct_show_uploaded_video mt-2" style="position: relative;">

                <!-- <img *ngIf="!isVideoPlaying(videoPlayer)" src="../assets/img/play.png" class="play-button"
                    alt="Play Button" (click)="toggleVideo(videoPlayer)" /> -->

                <div class="play-button" *ngIf="!isVideoPlaying(videoPlayer)" (click)="toggleVideo(videoPlayer)">
                    <img src="../assets/img/play.png" alt="Play Button" />
                </div>

                <video [src]="feed.mediaUrl" #videoPlayer (timeupdate)="onTimeUpdate(videoPlayer)"
                    (loadedmetadata)="setVideoDuration(videoPlayer)" width="100%" height="390"
                    (click)="toggleVideo(videoPlayer)">
                </video>

                <input type="range" *ngIf="currentVideoId === videoPlayer" class="custom-seekbar"
                    (input)="onSeek($event, videoPlayer)" />

                <div *ngIf="currentVideoId === videoPlayer" class="video-timing text-white pb-4">
                    {{ formatTime(currentTime) }} / {{ formatTime(videoDuration) }}
                </div>
            </div>

        </div>

    </div>

</div>
} @else {

}